{% extends 'base.html.twig' %}

{% block title %}S'inscrire !{% endblock %}

{% block body %}

<form class="mx-auto mt-5" style="max-width: 400px" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Créer votre compte</h1>
  <div class="mb-2">
    <label for="pseudo" class="form-label">Pseudo</label>
    <input type="text" class="form-control" id="pseudo" name="pseudo">
  </div>
  <div class="mb-2">
    <label for="email" class="form-label">Adresse mail</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="mb-2">
    <label for="password" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Confirmer votre mot de passe</label>
    <input type="password" class="form-control" id="password2" name="password2">
  </div>
  {# CSRF #}
  <input type= "hidden" name="csrf" value="{{ csrf_token ('register_form') }}">
  <button type="submit" class="btn btn-prinary w-180">S'inscrire</button>
  <a class="btn btn-lg btn-secondary" href="{{ path('app_login') }}">Se connecter</a>
</form>

{% endblock %}
