version: '3.1'

services:
    php:
        build:
            context: ./.docker/php/
            dockerfile: Dockerfile
        restart: always
        volumes:
            - ${PATH_APP:.}:/var/www/html
        # links:
        #     - database

###> doctrine/doctrine-bundle ###
    database:
        image: mysql:5.7
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: "${DB_NAME:-app}"
            MYSQL_USER: "${DB_USER:-symfony}"
            MYSQL_PASSWORD: "${DB_PASSWORD:-symfoPassword}"
        command: [
              '--character-set-server=utf8mb4',
              '--collation-server=utf8mb4_unicode_ci',
              '--default-authentication-plugin=mysql_native_password'
            ]
        volumes:
            - ${PATH_DB:./.docker/database/}:/var/lib/mysql:rw

###< doctrine/doctrine-bundle ###

    phpmyadmin:

        image: phpmyadmin
        restart: always
        environment:
            PMA_ARBITRARY: 1
            PMA_HOST: database
            PMA_USER: "${DB_USER:-symfony}"
            PMA_PASSWORD: "${DB_PASSWORD:-symfoPassword}"
        depends_on:
            - database
        ports:
            - ${PORT_PHPMYADMIN:8080}:80

    nginx:
        image: nginx:alpine
        restart: always
        volumes:
            - .:/var/www/html
            - ${PATH_DB:./.docker/nginx/default.conf}:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
            # - database
        ports:
            - ${PORT_APP:80}:80
